<meta charset="utf-8" />
<title>{{title}}</title>
<link rel="apple-touch-icon" href="//mindmup.s3.amazonaws.com/lib/img/apple-touch-icon.png">
<link rel="stylesheet" href="/static/css/adminstyle.css">
<link rel="stylesheet" type="text/css" href="/static/css/wangEditor.css">
<link rel="stylesheet" type="text/css" href="/static/css/webuploader.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/uploaderstyle.css"> -->
<link rel="stylesheet" type="text/css" href="/static/css/admin_uploader_style.css"> 

<script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/static/js/wangEditor.js"></script>
<script type="text/javascript" src="/static/js/webuploader.js"></script>
<script type="text/javascript" src="/static/js/cover_upload.js"></script>
<script type="text/javascript" src="/static/js/gymnasium_upload.js"></script>
<script type="text/javascript" src="/static/js/trainner_upload.js"></script>
