<meta charset="utf-8" />
<title>{{title}}</title>
<link rel="stylesheet" href="/static/css/adminstyle.css" />
<link rel="apple-touch-icon" href="//mindmup.s3.amazonaws.com/lib/img/apple-touch-icon.png">
<link rel="stylesheet" type="text/css" href="/static/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/css/uploaderstyle.css">
<link rel="stylesheet" type="text/css" href="/static/css/wangEditor.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/uploadify.css"> -->
<!-- <link rel="stylesheet" href="/static/css/bootstrap-combined.no-icons.min.css" />
<link rel="stylesheet" href="/static/css/prettify.css" />
<link rel="stylesheet" href="/static/css/font-awesome.css" /> -->
<script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
<!-- <script type="text/javascript" src="/static/js/bootstrap-wysiwyg.js"></script> -->
<script type="text/javascript" src="/static/js/wangEditor.min.js"></script>
<script type="text/javascript" src="/static/js/cropbox.js"></script>
<!-- <script type="text/javascript" src="/static/js/jquery.uploadify.min.js"></script> -->
<script type="text/javascript" src="/static/js/webuploader.js"></script>
<script type="text/javascript" src="/static/js/ad_upload.js"></script>







