<!DOCTYPE html>
<html>

	<head>
		{(admin_meta.html)}
	</head>
		
<body>
		<div class="top">
			<div>
				<img src="/static/files/logo.png" />
				<span class="logout">退出登录</span>
			</div>
		</div>

		<div class="container" data-pagename="{{pagename}}">
			<div class="nav">
				<span><a  href="/admin/ad">首页广告</a></span>
				<span><a  href="/admin/judo">柔道</a></span>
				<span><a  href="/admin/yoga">瑜伽</a></span>
				<span><a  href="/admin/freepower">自由力量</a></span>
				<span><a  href="/admin/aerabic">有氧运动</a></span>
			</div>

			<div class="discr roudao">
				<p class="title">封面广告图</p>
				<div class="showpic3" id="cover_image_list">
				    {%for _,v in pairs(covers) do %}
					   <div class="pic-box2" data-uuid = "{{v.cover_id}}" style="position:relative">
						   <img class="showing" src="{{v.cover_img}}" />
						   <img class="del" src="/static/files/del.png" style="position:absolute;right:10px;bottom:0px" onclick="DelImage(this)"/>
					   </div>
				    {%end%}
			    </div>
			   
				<div class ="wrapper">
        		  <div class ="uploader_container">
            		<div class= "uploader" id="cover_uploader">
                		<div class="queueList">
                    		<div id="cover_dndArea" class="placeholder">
                        		<div id="cover_filePicker" ></div>
                        		<p id="cover_uploader_count">或将照片拖到这里，封面照片最多可选4张</p>
                    		</div>
                		</div>
                		<div class="statusBar" style="display:none;">
                    		<div class="progress">
                        		<span class="text">0%</span>
                        		<span class="percentage"></span>
                    		</div>
                    		<div class="info"></div>
                    		<div class="btns">
                        		<div id="cover_filePicker2"></div><div class="uploadBtn">开始上传</div>
                    		</div>
                		</div>
            		</div>
            	  </div>
    		    </div>
    		   

			<!--柔道介绍-->
			<div class="discr roudao">
			   <p class="title">场馆介绍</p>

               <div class="showpic3" id="gymnasium_pic_list">
                    {%for _,v in pairs(gymnasiumPics) do %}
                       <div class="pic-box2" data-uuid = "{{v.gymnasium_pic_id}}" style="position:relative">
                           <img class="showing" src="{{v.gymnasium_pic}}" />
                           <img class="del" src="/static/files/del.png" style="position:absolute;right:10px;bottom:0px" onclick="del_g_pic(this)"/>
                       </div>
                    {%end%}
                </div>


			   <div class ="wrapper">
        		   <div class ="uploader_container">
            	<!--头部，相册选择和格式选择-->
            		  <div class= "uploader" id="gymnasium_uploader">
                		 <div class="queueList">
                    		<div id="gymnasium_dndArea" class="placeholder">
                        		<div id="gymnasium_filePicker" ></div>
                        		<p id="gymnasium_uploader_count">或将照片拖到这里，场地照片最多可选6张</p>
                    		</div>
                		 </div>
                		 <div class="statusBar" style="display:none;">
                    		<div class="progress">
                        		<span class="text">0%</span>
                        		<span class="percentage"></span>
                    		</div>
                    		<div class="info"></div>
                    		<div class="btns">
                        		<div id="gymnasium_filePicker2" ></div><div class="uploadBtn">开始上传</div>
                    		</div>
                		 </div>
            		 </div>
            	  </div>
    	 	   </div>


			   <div class="edit">
					<label>文章内容<span class="red">*</span></label>
					<div class="editBox" style="width:85%">
						<div id="groundEditor">
                        {%if #gymnasiumDescri > 0 then %}
                            {%for _,v in pairs(gymnasiumDescri) do %}
                                {*v.gymnasium_descri*}
                            {%end%}
                        {%else%}
                                <p>请输入文字内容</p>
                        {%end%}
							
						</div>
						
						<div class="saveBox">
							<span class="btn-new-ad" id="gymnasium_text">保存</span>
						</div>
					</div>
				</div>
    		</div>
				
			
			<!--教练介绍-->
			<div class="discr roudao">
				<p class="title">教练介绍</p>
				<div class="showpic3" id="trainner_image_list">
                    {%for _,v in pairs(TrainnerPics) do %}
                       <div class="pic-box2" data-uuid = "{{v.trainer_pic_id}}" style="position:relative">
                           <img class="showing" src="{{v.trainer_img}}" />
                           <img class="del" src="/static/files/del.png" style="position:absolute;right:10px;bottom:0px" onclick="DelTrainnerImage(this)"/>
                       </div>
                    {%end%}
                </div>
				<div class ="wrapper">
        		   <div class ="uploader_container">
            	<!--头部，相册选择和格式选择-->
            		  <div class= "uploader" id="trainner_uploader">
                		 <div class="queueList">
                    		<div id="trainner_dndArea" class="placeholder">
                        		<div id="trainner_filePicker" ></div>
                        		<p>或将照片拖到这里，教练照片最多可选1张</p>
                    		</div>
                		 </div>
                		 <div class="statusBar" style="display:none;">
                    		<div class="progress">
                        		<span class="text">0%</span>
                        		<span class="percentage"></span>
                    		</div>
                    		<div class="info"></div>
                    		<div class="btns">
                        		<div id="trainner_filePicker2" ></div><div class="uploadBtn">开始上传</div>
                    		</div>
                		 </div>
            		 </div>
            	  </div>
    	 	   </div>



				<div class="edit">
					<label>文章内容<span class="red">*</span></label>
					<div class="editBox" style="width:85%">
						<div id="trainnnerEditor">
						{%if #TrainnerDescr > 0 then %}
                            {%for _,v in pairs(TrainnerDescr) do %}
                                {*v.trainer_descri*}
                            {%end%}
                        {%else%}
                                <p>请输入文字内容</p>
                        {%end%}
						</div>
						
						<div class="saveBox">
							<span class="btn-new-ad">确认</span>
						</div>
					</div>
				</div>

            </div>
				
			
			<!--课程表-->
			<div class="discr roudao" style="height: 270px;">
				<p class="title">课程表//</p>
				<div class="tableBox">
					<table style="margin-left: auto;margin-right: auto;">
						<tr>
							<th>时间</th>
							<th>星期一</th>
							<th>星期二</th>
							<th>星期三</th>
							<th>星期四</th>
							<th>星期五</th>
							<th>星期六</th>
							<th>星期天</th>
						</tr>
						<tr>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
						</tr>
						<tr>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
							<td><input type="text" name=""></td>
						</tr>
					</table>
					
				</div>
				<div class="savepage" style="margin-left: auto;text-align:center;margin-right: auto;" >
						<span class="btn-new-ad">保存课表信息</span>
				</div>
			</div>
		</div>
		<!--end container-->
		
	</body>
		<!--end container-->
		
		<script type="text/javascript">
			 
		function createConentEdit(eidtor_name)
		{
			var editor = new wangEditor(eidtor_name);


			 editor.config.colors = {
        		'#880000': '暗红色',
        		'#800080': '紫色',
        		'#ff0000': '红色'
    		};

    		// 字体
   			editor.config.familys = [
        		'宋体', '黑体', '楷体', '微软雅黑',
        		'Arial', 'Verdana', 'Georgia'
    		];

    		// 字号
    		editor.config.fontsizes = {
        	// 格式：'value': 'title'
        		1: '10px',
        		2: '13px',
        		3: '16px',
        		4: '19px',
        		5: '22px',
        		6: '25px',
        		7: '28px'
    		};


    		editor.config.menus = [
        		'source',
        		'|',     // '|' 是菜单组的分割线
        		'bold',
        		'underline',
        		'italic',
        		'strikethrough',
        		'eraser',
        		'forecolor',
        		'bgcolor',
        		'|',
        		'quote',
        		'fontfamily',
        		'fontsize',
        		'head',
        		'unorderlist',
        		'orderlist',
        		'alignleft',
        		'aligncenter',
        		'alignright',
        		'|',
        		'link',
        		'unlink',
        		'table',
        		'|',
        		'undo',
        		'redo'
     			];


       	    // editor.config.hideLinkImg = true;

    		 editor.create();

             return editor;
		}
		var editorname = 'groundEditor';
		var editorname_two = 'trainnnerEditor';
		var editor1 = createConentEdit(editorname);
		var editor2 = createConentEdit(editorname_two);
        var api_descri_Url;
        var descri_id;
        var api_trainner_url;
        var trainner_descri_id;
        {%if #gymnasiumDescri > 0 then %}
            api_descri_Url = '/gymnasiumDescri/update';
            {%for _,v in pairs(gymnasiumDescri) do %}
                descri_id = {{v.gymnasium_id}};
            {%end%}
        {%else%}
            api_descri_Url = '/gymnasiumDescri/new';
        {%end%}

        {%if #TrainnerDescr > 0 then %}
            api_trainner_url = '/trainnerDescri/update';
            {%for _,v in pairs(TrainnerDescr) do %}
                trainner_descri_id= {{v.trainer_id}};
            {%end%}
        {%else%}
            api_trainner_url = '/trainnerDescri/new';
        {%end%}


		function delCoverImage(delObject,coverImageId){

			$.ajax({
				url:'/cover/delete',
                type:'post',
                async: true,
                data:{
                        id:coverImageId
                },
                dataType : 'json',
                success : function(result){
                	if(result.success)
                	{
            			delObject.parent('div').remove();
                		var imageCount = $(".pic-box2").length;
						if( imageCount == 4)
            			{
               				$("#cover_uploader").hide();
            			}
            			else
            			{
              				$("#cover_uploader").show();
              				var rest = 4 - imageCount;
              				$("#cover_uploader_count").text("或将照片拖到这里，封面照片最多可选"+rest+"张");
            			}
                	}
                	else
            		{
            			
            		}
                },
                error:function(){
                	
                }
			});
			
		}

        function delgymnasiumPics(delObject,coverImageId){

            $.ajax({
                url:'/gymnasiumPic/delete',
                type:'post',
                async: true,
                data:{
                        id:coverImageId
                },
                dataType : 'json',
                success : function(result){
                    if(result.success)
                    {
                        delObject.parent('div').remove();
                        var imageCount = $("#gymnasium_pic_list .pic-box2").length;
                        if( imageCount == 6)
                        {
                            $("#gymnasium_uploader").hide();
                        }
                        else
                        {
                            $("#gymnasium_uploader").show();
                            var rest = 6 - imageCount;
                            $("#gymnasium_uploader_count").text("或将照片拖到这里，封面照片最多可选"+rest+"张");
                        }
                    }
                    else
                    {
                        
                    }
                },
                error:function(){
                    
                }
            });
            
        }

		function DelImage(Obj){

			var coverImageId = $(Obj).parent('div').attr("data-uuid");
			var delObject = $(Obj);
			delCoverImage(delObject,coverImageId);
		}

		function del_g_pic(Obj){
            var coverImageId = $(Obj).parent('div').attr("data-uuid");
            var delObject = $(Obj);
            delgymnasiumPics(delObject,coverImageId);
        }

        function coverUploader(){
            var imageCount = $("#cover_image_list .pic-box2").length;
            
            if( imageCount == 4)
            {
               $("#cover_uploader").hide();
            }
            else
            {
              $("#cover_uploader").show();
              var rest = 4 - imageCount;
              $("#gymnasium_uploader_count").text("或将照片拖到这里，封面照片最多可选"+rest+"张");
            }
        }


        function gymnasiumUploader(){

            var imageCount = $("#gymnasium_pic_list .pic-box2").length;
            
            if( imageCount == 6)
            {
               $("#gymnasium_uploader").hide();
            }
            else
            {
              $("#gymnasium_uploader").show();
              var rest = 6 - imageCount;
              $("#gymnasium_uploader_count").text("或将照片拖到这里，封面照片最多可选"+rest+"张");
            }
        }

        function selectNav(){

            var title = document.title;

            $('.nav a').each(function(){

                var txt = $(this).text();
                if(title == txt)
                {
                    $(this).addClass("active")
                }
                else
                {
                    $(this).removeClass("active")
                }
            });
        }

        $('#gymnasium_text').on('click',function(){

                var content = editor1.$txt.html();
                
                if(content.length > 1000)
                {
                    alert("超过编辑最大字数");
                    return;
                }

            $.ajax({
                url: api_descri_Url,
                type:'post',
                async: true,
                {%if #gymnasiumDescri > 0 then %}      
                    data:{
                            id:descri_id,
                            descri: content,
                            pagename: $('.container').attr('data-pagename')
                    },
                {%else%}
                    data:{
                            descri: content,
                            pagename: $('.container').attr('data-pagename')
                    },      
                {%end%}
                dataType : 'json',
                success:function(result){
                    if(result.success)
                    {
                        api_descri_Url = '/gymnasiumDescri/update';
                        descri_id = result.DescriId;
                        alert("保存场馆成功");
                    }
                    else
                    {
                        alert("保存场馆介绍失败");
                    }

                },
                error:function(){
                     alert("保存场馆介绍出现异常，请检查网络");
                }


            });

        });
        

        function deltrainnerPic(delObject,ImageId){
            $.ajax({
                url:'/trainnerPic/delete',
                type:'post',
                async: true,
                data:{
                        id:ImageId
                },
                dataType : 'json',
                success : function(result){
                    if(result.success)
                    {
                        delObject.parent('div').remove();
                        var imageCount = $("#trainner_image_list .pic-box2").length;
                        if( imageCount == 1)
                        {
                            $("#trainner_uploader").hide();
                        }
                        else
                        {
                            $("#trainner_uploader").show();
                        }
                    }
                    else
                    {
                        
                    }
                },
                error:function(){
                    
                }
            });
        }
        

        function DelTrainnerImage(Obj){
            var ImageId = $(Obj).parent('div').attr("data-uuid");
            var delObject = $(Obj);
            deltrainnerPic(delObject,ImageId);

        }
        

		$(document).ready(function(){ 
　　	　 		selectNav();
　　	　 		coverUploader();
　　	　      gymnasiumUploader();

		}); 




		</script>

</html>