<!DOCTYPE html>
<html>

	<head>
		{(admin_meta.html)}
	</head>

	<body>
		<div class="top">
			<div>
				<img src="/static/files/logo.png" />
				<span class="logout">退出登录</span>
			</div>
		</div>

		<div class="container index">
			<div class="nav">
				<span><a class="active" href="/admin/ad">首页广告</a></span>
				<span><a class="unactive" href="/admin/judo">柔道</a></span>
				<span><a class="unactive" href="/admin/yoga">瑜伽</a></span>
				<span><a class="unactive" href="/admin/freepower">自由力量</a></span>
				<span><a class="unactive" href="/admin/aerabic">有氧训练</a></span>
			</div>
			<div class="showpic3">
				<div class="pic-box2">
					<img class="showimg" src="/static/files/pic.png" />
					<p class="discr1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
					<img class="del" src="/static/files/del.png" />
				</div>
				<div class="pic-box2">
					<img class="showimg" src="/static/files/pic.png" />
					<p class="discr1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
					<img class="del" src="/static/files/del.png" />
				</div>
				<div class="pic-box2">
					<img class="showimg" src="/static/files/pic.png" />
					<p class="discr1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
					<img class="del" src="/static/files/del.png" />
				</div>
			</div>
			
			<div class="discr discrBox">
				<p class="notic">
					<span class="sup">i</span>
					最多发布五条广告信息
				</p>
			</div>
			<div class="edit">
					<label>上传图片<span class="red">*</span></label>
					<div class="note">
						<span class="btn-1">选择图片</span>
						<input class="popInput" type="text" />
						<p>支持png/jpg/gif格式，RGB模式。<br /><span class="notice1">请注意上传图片长与宽比例为3:1</span></p>
					</div>
			</div>

			<div class="edit">
					<label>广告标题<span class="red">*</span></label>
					<div class="note">
						<input type="text" id= "ad_title" placeholder="请输入标题一"/>
					</div>	

			</div>

			<div class="edit">
					<label>文章内容<span class="red">*</span></label>
					<div class="editBox">
						<div id="adEditor">
							<p>请输入广告内容</p>
						</div>
						
						<div class="saveBox">
							<span class="btn-new-ad">确认</span>
							<span class="btn-preview-ad">预览</span>
						</div>
					</div>
				</div>
		</div>

		<!--pop-->
		<div class="mask"></div>
		<div class="popbg"><span class="close">x</span></div>
		<div class="container1">
			<div class="imageBox">
				<div class="thumbBox"></div>
				<div class="spinner" style="display: none">Loading...</div>
			</div>
			<div class="cropped"> 
				<img id="coverCut" align="absmiddle" style="width:1200px;height:395px;margin-top:4px;box-shadow:0px 0px 12px #7E7E7E;" />
				<p>313px*198px</p>
				<div class="action">
					<!-- <input type="file" id="file" style=" width: 200px">-->
					<div class="new-contentarea tc">
						<a href="javascript:void(0)" class="upload-img">
							<label for="upload-file">选择图片</label>
						</a>
						<input type="file" class="" name="upload-file" id="upload-file" />
					</div>
					<input type="button" id="btnCrop"    class="Btnsty_peyton" value="裁切" />
					<input type="button" id="btnZoomIn"  class="Btnsty_peyton" value="+" />
					<input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" />
					<input type="button" id="btnUpload"  class="Btnsty_peyton" value="上传" />
				</div>
			</div>
		</div>
		<!--end container-->
		
		<script>
			 /*$('#editor').wysiwyg({
			 	hotKeys: {
    						'ctrl+b meta+b': 'bold',
    						'ctrl+i meta+i': 'italic',
    						'ctrl+u meta+u': 'underline',
    						'ctrl+z meta+z': 'undo',
    						'ctrl+y meta+y meta+shift+z': 'redo'
  						}

			 	});
			 $('#editor').cleanHtml();
			*/ 
			var editor = new wangEditor('adEditor');
			editor.config.uploadImgUrl = '/upload/img';

        	// 自定义上传事件
        	editor.config.uploadImgFns.onload = function (resultText, xhr) {
            // resultText 服务器端返回的text
            // xhr 是 xmlHttpRequest 对象，IE8、9中不支持

            // 上传图片时，已经将图片的名字存在 editor.uploadImgOriginalName
            	// var originalName = editor.uploadImgOriginalName || '';  
            	alert(resultText);
            // 如果 resultText 是图片的url地址，可以这样插入图片：
            	// editor.command(null, 'insertHtml', '<img src="' + resultText + '" alt="' + originalName + '" style="max-width:100%;"/>');
            // 如果不想要 img 的 max-width 样式，也可以这样插入：
            		editor.command(null, 'InsertImage', resultText);
       	    };
       	    // 自定义timeout事件
    		editor.config.uploadImgFns.ontimeout = function (xhr) {
        	// xhr 是 xmlHttpRequest 对象，IE8、9中不支持
        		alert('上传超时');
    		};

    		editor.config.uploadImgFns.onerror = function (xhr) {
        		// xhr 是 xmlHttpRequest 对象，IE8、9中不支持
        		alert('上传错误');
    		};




       	    editor.config.hideLinkImg = true;

    		editor.create();
    		
		 	$(document).ready(function(){
				$('.discr1').each(function(){
				var maxwidth=35;
					if($(this).text().length>maxwidth)
					{
						$(this).text($(this).text().substring(0,maxwidth));
						$(this).html($(this).html()+"...");
					}
				});
				$('img.del').on('click',function(){
// ·					$(this).parent('div').css('display','none');
					$(this).parent('div').hide();
				})
			});

				//点击弹出框
			$('.mask').css('height', $(window).height());
			$('.popInput').on('click', function() {
				$('.mask').css('display', 'block');
				$('.container1').css('display', 'block');
				$('.popbg').css('display', 'block');
			});
			$('.popbg .close').click(function(){
				$('.mask').css('display', 'none');
				$('.container1').css('display', 'none');
				$('.popbg').css('display', 'none');
			})
			//裁剪
			function disabledMouseWheel() {
				if(document.addEventListener) {
					document.addEventListener('DOMMouseScroll', scrollFunc, false);
				} //W3C  
				window.onmousewheel = document.onmousewheel = scrollFunc; //IE/Opera/Chrome  
			}

			function scrollFunc(evt) {
				evt = evt || window.event;
				if(evt.preventDefault) {
					// Firefox  
					evt.preventDefault();
					evt.stopPropagation();
				} else {
					// IE  
					evt.cancelBubble = true;
					evt.returnValue = false;
				}
				return false;
			}

			$(window).load(function() {
				//回显封面
				//var coverPath = $("#cover").val();
				//$("#coverCut").attr("src",coverPath);

				var options = {
					thumbBox: '.thumbBox',
					spinner: '.spinner',
					imgSrc: '/static/files/avatar.png'
				}
				
				var cropper = $('.imageBox').cropbox(options);
				$('#upload-file').on('change', function() {
					var reader = new FileReader();
					reader.onload = function(e) {
						options.imgSrc = e.target.result;
						cropper = $('.imageBox').cropbox(options);
					}
					reader.readAsDataURL(this.files[0]);

					// this.files = [];
				});
				$('#btnCrop').on('click', function() {
					//剪切后生成的base64字符串
					var img = cropper.getDataURL();
					$("#coverCut").attr("src", img);
										/*
					$.post([[@{/admin/post/cut}]],{"_":Math.random(),"imgStr":img},function(data){
						if(data.flag){
							$("#cover").val(data.name);
							$("#coverCut").attr("src",data.path);
						}else{
							cAlert(data.msg);
						}
					});
					*/
				});
				$('#btnZoomIn').on('click', function() {
					cropper.zoomIn();
				});
				$('#btnZoomOut').on('click', function() {
					cropper.zoomOut();
				});

				$('#btnUpload').on('click',function(){

					var img = cropper.getDataURL();
					
					$.ajax();
					$("#coverCut").attr("src", "");
					// reader.readAsDataURL(this.files[0]);
				});

				$(".imageBox").mouseover(function() {
					disabledMouseWheel();
				});

				$(".imageBox").mouseout(function() {
					if(document.addEventListener) {
						document.addEventListener('DOMMouseScroll', true, true);
					} //W3C  
					window.onmousewheel = document.onmousewheel = true; //IE/Opera/Chrome  
				});
			});

			$('.btn-new-ad').on('click',function(){
				alert('提交广告帖');
			});
			$('.btn-preview-ad').on('click',function(){
				alert('预览广告帖');
			});
			
							
		</script>
	</body>

</html>