<!DOCTYPE html>
<html>

	<head>
		{(admin_meta.html)}
	</head>
		
<body>
		<div class="top">
			<div>
				<img src="/static/files/logo.png" />
				<span class="logout">退出登录</span>
			</div>
		</div>

		<div class="container">
			<div class="nav">
				<span><a class="unactive" href="/admin/ad">首页广告</a></span>
				<span><a class="unactive" href="/admin/judo">柔道</a></span>
				<span><a class="unactive" href="/admin/yoga">瑜伽</a></span>
				<span><a class="unactive" href="/admin/freepower">自由力量</a></span>
				<span><a class="active" href="/admin/aerabic">有氧训练</a></span>
			</div>

			<div class="discr roudao">
				<p class="title">二级页面展示图//</p>

				<div class ="wrapper">
        		  <div class ="uploader_container">
            	<!--头部，相册选择和格式选择-->
            		<div class= "uploader" id="cover_uploader">
                		<div class="queueList">
                    		<div id="cover_dndArea" class="placeholder">
                        		<div id="cover_filePicker" ></div>
                        		<p>或将照片拖到这里，封面照片最多可选4张</p>
                    		</div>
                		</div>
                		<div class="statusBar" style="display:none;">
                    		<div class="progress">
                        		<span class="text">0%</span>
                        		<span class="percentage"></span>
                    		</div>
                    		<div class="info"></div>
                    		<div class="btns">
                        		<div id="cover_filePicker2"></div><div class="uploadBtn">开始上传</div>
                    		</div>
                		</div>
            		</div>
            	 </div>
    		    </div>
    		</div>

			<!--柔道介绍-->
			<div class="discr roudao">
			   <p class="title">柔道介绍//</p>

			   <div class ="wrapper">
        		   <div class ="uploader_container">
            	<!--头部，相册选择和格式选择-->
            		  <div class= "uploader" id="gymnasium_uploader">
                		 <div class="queueList">
                    		<div id="gymnasium_dndArea" class="placeholder">
                        		<div id="gymnasium_filePicker" ></div>
                        		<p>或将照片拖到这里，场地照片最多可选6张</p>
                    		</div>
                		 </div>
                		 <div class="statusBar" style="display:none;">
                    		<div class="progress">
                        		<span class="text">0%</span>
                        		<span class="percentage"></span>
                    		</div>
                    		<div class="info"></div>
                    		<div class="btns">
                        		<div id="gymnasium_filePicker2" ></div><div class="uploadBtn">开始上传</div>
                    		</div>
                		 </div>
            		 </div>
            	  </div>
    	 	   </div>


			   <div class="edit">
					<label>文章内容<span class="red">*</span></label>
					<div class="editBox" style="width:85%">
						<div id="groundEditor">
							<p>请输入文字内容</p>
						</div>
						
						<div class="saveBox">
							<span class="btn-new-ad">确认</span>
							<span class="btn-preview-ad">预览</span>
						</div>
					</div>
				</div>
    		</div>
				
			
			<!--教练介绍-->
			<div class="discr roudao">
				<p class="title">教练介绍//</p>
				
				<div class ="wrapper">
        		   <div class ="uploader_container">
            	<!--头部，相册选择和格式选择-->
            		  <div class= "uploader" id="trainner_uploader">
                		 <div class="queueList">
                    		<div id="trainner_dndArea" class="placeholder">
                        		<div id="trainner_filePicker" ></div>
                        		<p>或将照片拖到这里，教练介绍最多可选1张</p>
                    		</div>
                		 </div>
                		 <div class="statusBar" style="display:none;">
                    		<div class="progress">
                        		<span class="text">0%</span>
                        		<span class="percentage"></span>
                    		</div>
                    		<div class="info"></div>
                    		<div class="btns">
                        		<div id="trainner_filePicker2" ></div><div class="uploadBtn">开始上传</div>
                    		</div>
                		 </div>
            		 </div>
            	  </div>
    	 	   </div>



				<div class="edit">
					<label>文章内容<span class="red">*</span></label>
					<div class="editBox" style="width:85%">
						<div id="trainnnerEditor">
							<p>请输入内容</p>
						</div>
						
						<div class="saveBox">
							<span class="btn-new-ad">确认</span>
							<span class="btn-preview-ad">预览</span>
						</div>
					</div>
				</div>

            </div>
				
			
			<!--课程表-->
			<div class="discr roudao">
				<p class="title">课程表//</p>
				<div class="tableBox">
					<table>
						<tr>
							<th>时间</th>
							<th>星期一</th>
							<th>星期二</th>
							<th>星期三</th>
							<th>星期四</th>
							<th>星期五</th>
							<th>星期六</th>
							<th>星期天</th>
						</tr>
						<tr>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<!--end container-->
		
	</body>
		<!--end container-->
		
		<script type="text/javascript">
			 
		function createConentEdit(eidtor_name)
		{
			var editor = new wangEditor(eidtor_name);


			 editor.config.colors = {
        		'#880000': '暗红色',
        		'#800080': '紫色',
        		'#ff0000': '红色'
    		};

    		// 字体
   			editor.config.familys = [
        		'宋体', '黑体', '楷体', '微软雅黑',
        		'Arial', 'Verdana', 'Georgia'
    		];

    		// 字号
    		editor.config.fontsizes = {
        	// 格式：'value': 'title'
        		1: '10px',
        		2: '13px',
        		3: '16px',
        		4: '19px',
        		5: '22px',
        		6: '25px',
        		7: '28px'
    		};


    		editor.config.menus = [
        		'source',
        		'|',     // '|' 是菜单组的分割线
        		'bold',
        		'underline',
        		'italic',
        		'strikethrough',
        		'eraser',
        		'forecolor',
        		'bgcolor',
        		'|',
        		'quote',
        		'fontfamily',
        		'fontsize',
        		'head',
        		'unorderlist',
        		'orderlist',
        		'alignleft',
        		'aligncenter',
        		'alignright',
        		'|',
        		'link',
        		'unlink',
        		'table',
        		'|',
        		'undo',
        		'redo'
     			];


       	    // editor.config.hideLinkImg = true;

    		editor.create();
		}
		var editorname = 'groundEditor';
		var editorname_two = 'trainnnerEditor';
		createConentEdit(editorname);
		createConentEdit(editorname_two);





		</script>

</html>