<!DOCTYPE html>
<html>

	<head>
		{(ad_meta.html)}
	</head>

	<body>
		<div class="top">
			<div>
				<img src="/static/files/logo.png" />
				<span class="logout">退出登录</span>
			</div>
		</div>

		<div class="container index">
			<div class="nav">
				<span><a class="active" href="/admin/ad">首页广告</a></span>
				<span><a class="unactive" href="/admin/judo">柔道</a></span>
				<span><a class="unactive" href="/admin/yoga">瑜伽</a></span>
				<span><a class="unactive" href="/admin/freepower">自由力量</a></span>
				<span><a class="unactive" href="/admin/aerabic">有氧训练</a></span>
			</div>
			<div class="showpic3">
				<div class="pic-box2">
					<img class="showimg" src="/static/files/pic.png" />
					<p class="discr1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
					<img class="del" src="/static/files/del.png" />
				</div>
				<div class="pic-box2">
					<img class="showimg" src="/static/files/pic.png" />
					<p class="discr1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
					<img class="del" src="/static/files/del.png" />
				</div>
				<div class="pic-box2">
					<img class="showimg" src="/static/files/pic.png" />
					<p class="discr1">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
					<img class="del" src="/static/files/del.png" />
				</div>
			</div>
			
			<div class="discr discrBox">
				<p class="notic">
					<span class="sup">i</span>
					最多发布五条广告信息
				</p>
			</div>
			
            <div id="wrapper">
        		<div id="container">
            	<!--头部，相册选择和格式选择-->
            		<div id="uploader">
                		<div class="queueList">
                    		<div id="dndArea" class="placeholder">
                        		<div id="filePicker"></div>
                        		<p>或将照片拖到这里，单次最多可选1张</p>
                    		</div>
                		</div>
                		<div class="statusBar" style="display:none;">
                    		<div class="progress">
                        		<span class="text">0%</span>
                        		<span class="percentage"></span>
                    		</div>
                    		<div class="info"></div>
                    		<div class="btns">
                        		<div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                    		</div>
                		</div>
            		</div>
            	</div>
    		</div>


			<div class="edit">
					<label>广告标题<span class="red">*</span></label>
					<div class="note">
						<input type="text" id= "ad_title" placeholder="请输入标题一"/>
					</div>	

			</div>

			<div class="edit">
					<label>文章内容<span class="red">*</span></label>
					<div class="editBox">
						<div id="adEditor">
							<p>请输入广告内容</p>
						</div>
						
						<div class="saveBox">
							<span class="btn-new-ad">确认</span>
							<span class="btn-preview-ad">预览</span>
						</div>
					</div>
				</div>
		</div>

		
		
		<script>
			
			// $('#fileupload').change(function(){
				
			// 		$('#select_file_text').text('文件已选中');
			// 		$('#btn_upload').show();
			// });



			var editor = new wangEditor('adEditor');
			editor.config.uploadImgUrl = '/upload/img';

        	// 自定义上传事件
        	editor.config.uploadImgFns.onload = function (resultText, xhr) {
            // resultText 服务器端返回的text
            // xhr 是 xmlHttpRequest 对象，IE8、9中不支持

            // 上传图片时，已经将图片的名字存在 editor.uploadImgOriginalName
            	// var originalName = editor.uploadImgOriginalName || '';  
            	alert("上传成功");
            // 如果 resultText 是图片的url地址，可以这样插入图片：
            	// editor.command(null, 'insertHtml', '<img src="' + resultText + '" alt="' + originalName + '" style="max-width:100%;"/>');
            // 如果不想要 img 的 max-width 样式，也可以这样插入：
            		editor.command(null, 'InsertImage', resultText);
       	    };
       	    // 自定义timeout事件
    		editor.config.uploadImgFns.ontimeout = function (xhr) {
        	// xhr 是 xmlHttpRequest 对象，IE8、9中不支持
        		alert('上传超时');
    		};

    		editor.config.uploadImgFns.onerror = function (xhr) {
        		// xhr 是 xmlHttpRequest 对象，IE8、9中不支持
        		alert('上传错误');
    		};




       	    editor.config.hideLinkImg = true;

    		editor.create();
    		
		 	$(document).ready(function(){
				$('.discr1').each(function(){
				var maxwidth=35;
					if($(this).text().length>maxwidth)
					{
						$(this).text($(this).text().substring(0,maxwidth));
						$(this).html($(this).html()+"...");
					}
				});
				$('img.del').on('click',function(){
// ·					$(this).parent('div').css('display','none');
					$(this).parent('div').hide();
				})
			});


			$('.btn-new-ad').on('click',function(){
				alert('提交广告帖');
			});


			$('.btn-preview-ad').on('click',function(){
				
				$.ajax({
                		url : '/admin/AdPreview',
                		type : 'post',
                		data : {
                    			title: title,
                    			category_id: category_id,
                    			content: content
                			   },
                			dataType : 'json',
                			success : function(result) {
                    						if(result.success)
                    						{
                        					  // window.location.href="/topic/"+result.data.id+"/view";
                        					  window.open("/topic/"+result.data.id+"/view");
                    						}
                    						else
                    						{
                        					  alert(result.msg);
                    						}
                						},
                	        error : function() {
                    						  alert("预览出现异常");
                                    }
			          });
			});
			
							
		</script>
	</body>

</html>