<!DOCTYPE html>
<html>
	{(ad_meta.html)}
	<body>
		<div class="top">
			<img src="/static/files/logo.png" />
		</div>
		<div class="wrap">
			<div class="pic1"  style="background: url({{coverimg}}) no-repeat center center;background-size: cover;">
			<!--是可以自己上传图片的-->
			</div>
			<div class="content">
				<h2 style="padding-top: 15px;"> {{title}}</h2>
				<div class= "detail">{*content*}</div>
			</div>
			
		</div>
		<div class="bottom">
			<p>公司地址：成都高新区盛华北路199号附301号3层&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司名称：成都洛科维品牌管理有限公司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系我们：400 0283772</p>
		</div>
	</body>
</html>
