<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		{(detailmeta.html)}
	</head>
	<body style="background:url(/static/files/bg2.jpg) repeat-y;background-size: 100%;">
		<div>
			<div class="logo">
				<img src="/static/files/logo.png"/>
			</div>
		
			<div class="swiper-container">		

				<div class="swiper-wrapper">
					{% for _,v in pairs(covers) do %}
					 <div class="swiper-slide">
						<div class="swiper-slide-div"><img src="{{v.cover_img}}" /></div>
					 </div>
					{%end%}
				</div>	
				<div class="pagination"></div>
			</div>
		</div>

		<div class="wrap">
			<div class="centerBox">
				<div class="return">
					<span href="/index">返回上一级</span>
				</div>
				<div class="erweima">
					<img src="/static/files/two-code.png" />
				</div>
			</div>
			
			<div class="pic2">
				<div class="pic2Word">
					{% for _,v in pairs(gymnasiumDescri) do %}
						<p class="word1">{*v.gymnasium_descri*}</p>
					{%end%}
				</div>
				<div class="pic2Box">
					{%if #gymnasiumPics >0 then %}
					<div class="picShow" style="background: url({{gymnasiumPics[1].gymnasium_pic}}) no-repeat center center;background-size: cover;">
					</div>
					{%end%}
					<div class="picList">
						<ul>
							{% for _,v in pairs(gymnasiumPics) do %}
							<li>
								<div class="pic-box active" style="background: url({{v.gymnasium_pic}}) no-repeat center center;background-size: cover;"></div>
							</li>
							{%end%}
						</ul>
					</div>
				</div>
			</div>
			

			<div class="pic3">
				<div class="pic3Word">
					{% for _,v in pairs(TrainnerDescr) do %}
						<p class="word1">{*v.trainer_descri*}</p>
					{%end%}
				</div>
				<div class="pic3Box">
					{% for _,v in pairs(TrainnerPics) do %}
						<img src="{{v.trainer_img}}" />
					{%end%}
					
				</div>
			</div>
			
			<div class="pic4">
				<div class="head">
					<span>TRC动力柔道馆</span>
					<p></p>
				</div>
				<div class="table">
					<table>
						<tr>
							<th>时间</th>
							<th>星期一</th>
							<th>星期二</th>
							<th>星期三</th>
							<th>星期四</th>
							<th>星期五</th>
							<th>星期六</th>
							<th>星期天</th>
						</tr>
						{% for _,v in pairs(Courses) do %}
						<tr>
							<td class="timer">{{v.mor_time}}</td>
							<td>{{v.monday_mor}}</td>
							<td>{{v.tuesday_mor}}</td>
							<td>{{v.wednesday_mor}}</td>
							<td>{{v.thursday_mor}}</td>
							<td>{{v.friday_mor}}</td>
							<td>{{v.saturday_mor}}</td>
							<td>{{v.sunday_mor}}</td>
						</tr>
						<tr class="lasttr">
							<td class="timer">{{v.after_time}}</td>
							<td>{{v.monday_after}}</td>
							<td>{{v.tuesday_after}}</td>
							<td>{{v.wednesday_after}}</td>
							<td>{{v.thursday_after}}</td>
							<td>{{v.friday_after}}</td>
							<td>{{v.saturday_after}}</td>
							<td>{{v.sunday_after}}</td>
						</tr>
						{%end%}
					</table>
				</div>
			</div>
			
		</div>

		{(detailfoot.html)}
		
		 <script>
		 	//banner轮播
			   var mySwiper = new Swiper('.swiper-container',{
			    pagination: '.pagination',
			    loop:true,
			    autoplay: 2000,
			    grabCursor: true,
			    paginationClickable: true
			  })
			  $('.arrow-left').on('click', function(e){
			    e.preventDefault()
			    mySwiper.swipePrev()
			  })
			  $('.arrow-right').on('click', function(e){
			    e.preventDefault()
			    mySwiper.swipeNext()
			  })
			  //banner的高度自适应
			  $('.swiper-container').css('height',$(this).width()*0.3);
			  //点击缩略图 显示大图
			  $('.picList ul li').on('click',function(){
			  	var src=$(this).find('.pic-box').css('backgroundImage');
			  	$('.picList ul li div.active').removeClass('active');
			  	$(this).find('.pic-box').addClass('active');
			  	$('.picShow').css('backgroundImage',src);
			  })
	    </script>
	</body>
</html>
