<!DOCTYPE html>
<html>
  <head>
    {(meta.html)}
    <title>TRC动力馆</title>
  </head>
  <body style="background: #000000;">
    <div class="container1">
      <section class="header">
        <div>
          <img src="/static/files/logo.png" />
          <span class="login">管理</span>
          <!-- <span class="login">
            <a class="login">管理</a>
          </span> -->
          
        </div>
      </section>
      <section class="banner swiper-container"> 
        <div class="swiper-wrapper">
          <div class="swiper-slide lunbo">
                <a href=""><img src="/static/files/banner.png" /></a>
                <p>明天怎么玩啊明天怎么玩啊明天怎么玩啊明天怎么玩啊</p>
          </div>
          <div class="swiper-slide lunbo"><img src="/static/files/banner.png" />
                <p>单身狗收到了打击单身狗收到了打击单身狗收到了打击单身狗收到了打击单身狗收到了打击</p>
          </div>
          <div class="swiper-slide lunbo"><img src="/static/files/banner.png" /><p>你们想好没啊你们想好没啊你们想好没啊你们想好没啊你们想好没啊你们想好没啊你们想好没啊你们想好没啊</p></div>
        </div>
        <div class="pagination"></div>
      </section>
    </div>
    <div class="container">
      <section class="btnBox">
        <img src="/static/files/bg.png" />
        <a class="btn1" href="/judo/detail"><img src="/static/files/btn-1.png" /></a>
        <a class="btn2" href="/yogo/detail"><img src="/static/files/btn-2.png" /></a>
        <a class="btn3" href="/freepower/detail"><img src="/static/files/btn-3.png" /></a>
        <a class="btn4" href="/aerabic/detail"><img src="/static/files/btn-4.png" /></a>
      </section>
    </div>
    {(footer.html)}
    
    
    <!--pop-->
    {(login.html)}
  
    <script>


      $(function(){
        //轮播
        if($('.lunbo').length === 1) {
          var mySwiper2 = new Swiper('.banner', {
            autoplay: 5000,
            visibilityFullFit: true,
            loop: false,
          });
        } else {
          var mySwiper2 = new Swiper('.banner', {
            autoplay: 5000,
            visibilityFullFit: true,
            loop: true,
            pagination: '.pagination',
          });
        }

        //banner自适应高度
        $('.swiper-container').css('height',$(this).width()*0.3);
        $('.swiper-wrapper').css('height',$('.swiper-container').width()*0.3);
        $('.swiper-slide').css('height',$('.swiper-container').width()*0.3);
        $('.header').css('height','80px');
        
        //login pop
        $('.login').on('click',function(){
          $('.mask').css({'display':'block'});
          $('.pop').css({'display':'block'});
        });
        $('#auth_close').click(function(){
          $('.mask').css({'display':'none'});
          $('.pop').css({'display':'none'});
        })
        //banner 文字显示
        $('.banner .swiper-slide img').hover(function(){
          if ($('.banner .swiper-slide p').is(':hidden')) {
            $('.banner .swiper-slide p').fadeIn();
          } else{
            $('.banner .swiper-slide p').fadeOut();
          }
          
        })

        $('#submit').click(function(){
            var username =$("input[name=username]").val();
            var password = $("input[name=password]").val();

            $.ajax({
                url : '/auth/login',
                type : 'post',
                data : {
                    username: username,
                    password: password
                },
                dataType : 'json',
                success : function(result) {
                    if(result.success){
                        window.location.href="/admin/";
                    }else{
                       alert(result.msg)
                    }
                },
                error : function() {
                    
                }
            });
        })

      })
    </script>
  </body>
</html>
