<div class="mask"></div>
<div class="pop">
  <a id="auth_close" href="javascript:;" title="关闭"><img src="/static/files/close.png"></a>
    <div class="popItem">
        后台登录
    </div>
      <div class="popTable">
        <table>
          <tbody><tr>
            <th width="40%">请输入邮箱</th>
            <td width="60%"><input class="form-control" type="text" placeholder="用户名"  name="username"> </td>
          </tr>
          <tr>
            <th>请输入密码</th>
            <td><input class="form-control" type="password"  placeholder="密码" name="password"> </td>
          </tr>
        </tbody></table>
      </div>
    <p><button class="popbuttom" id="submit">登录</button></p>
</div>