<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/idangerous.swiper.css" />
<link rel="stylesheet" href="/static/css/idangerous.swiper.scrollbar.css" />
<link rel="shortcut icon" href="favicon.ico" />
<script type="text/javascript" src="/static/js/jquery-1.10.1.min.js" ></script>
<script type="text/javascript" src="/static/js/idangerous.swiper.min.js" ></script>
<script type="text/javascript" src="/static/js/velocity.js" ></script>
